:root {
    --green: #00FF00;
    --white: #fff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background-color: var(--bg);
    font-family: monospace;
}

ul {
    font-family: helvética;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: monospace;
}

.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black)
}

.btn {
    position: absolute;
    top: 5px;
    left: 140px;
    height: 40px;
    width: 60px;
    border-radius: 0.6em;
    font-size: 1rem;
    margin: 20px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    cursor: pointer;
}

.btn:hover {
    height: 45px;
    width: 65px;
}

.btn:focus {
    outline-style: none;
}